body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}

.indent {
  padding-left: 15px;  
}

.component {
  padding: 0px;
  border-width: 0px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  margin: 20px 6px 20px 6px;
  background-color: #eeeeff;
  border-color: #e8e8f8;
}

.compbody {
  margin: 4px 2px 2px 2px;
  clear: left;
}

.comphead {
  margin: -14px 3px 3px 6px;
  font-size: 14px;
  line-height: 14px;
  padding: 0px 1px;
  background-color: #f8f8f8;
  float: left;
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: bold;
}

.comphead span {
  bottom: -2px;
  position: relative;
  margin: 0px;
  padding: 0px;
}

#container {
  float: left;
  background: #f8f8f8;
  border: 3px solid #000;
  margin: 20px 2px;
}

#container > .comphead {
  font-size: 20px;
  line-height: 20px;
  margin-top: -20px;
  background: #fff;
}

.mainview {
  float: left;
}

.sideview {
  float: left;
}

#sideview1 {
  min-width: 10em;
}

.bottomview {
  clear: both;
}

.javasource {
  font-family: monospace;
  font-size: 15px;
  border-color: #888080;
  background-color: #fffefe;
  clear: left;
  width: 40em;
  height: 100%;
  min-height: 100px;
}

.javasource .comphead {
  color: #888080;
}  

.srcselector {
  border-color: #686;
  background-color: #efe;
}

.srcselector .comphead {
  color: #686;
}


.control {
  border-color: #688;
  background-color: #eff;
}

.control .comphead {
  color: #688;
}

.stack {
  border-color: #868;
  background-color: #fef;
}

.stack .comphead {
  color: #868;
}

.memory {
  border-color: #876;
  background-color: #fed;
}

.memory .comphead {
  color: #876;
}

.output {
  border-color: #888;
  background-color: #fff;
  min-height: 40px;
}

.output .comphead {
  color: #888;
}

.component.highlight {
  border-color: #f00;
  background-color: #fdd;
}

.component.highlight .comphead {
  color: #f00;
}

.component.disabled {
  border-color: #666;
  background-color: #ddd;
}

.component.disabled .comphead {
  color: #666;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.environment {
  border-color: #668;
  background-color: #eef;
}
.environment .comphead {
  color: #668;
}

.environment .box {
  border-width: 1px;
  background-color: #efefff;
  border-color: #e0e0f0;
}
.environment .box .box {
  background-color: #dfdfff;
  border-color: #d0d0f0;
}
.environment .box .box .box {
  background-color: #cfcfff;
  border-color: #c0c0f0;
}
.environment .box .box .box .box {
  background-color: #bfbfff;
  border-color: #b0b0f0;
}
.environment .box .box .box .box .box {
  background-color: #afafff;
  border-color: #a0a0f0;
}
.environment .box .box .box .box .box .box {
  background-color: #9f9fff;
  border-color: #8080f0;
}
.environment .box .box .box .box .box .box .box {
  background-color: #8f8fff;
  border-color: #8080f0;
}

.lastvalue {
  border-color: #886;
  background-color: #ffe;
}
.lastvalue .comphead {
  color: #886;
}

#inputcode {
  margin: 2px 6px;
}

#srcinput {
  width: 100%;
}

.srcselector .comphead {
  color: #80a080;
}

.keyword {
  color: #7F0055;
  font-weight: bold;  
}

.string_literal {
  color: #000080;
}

div.line {
  position: relative;
}


#stack {
  clear: both;
}

div.arrow {
  position: absolute;
  background-color: blue;
}

.current {
  background-color: #fd0;  
}

.next {
  background-color: #f60;
}

.marked {
  background-color: #ff8;
}

.varName {
  font-family: monospace;
}

.varVal {
  font-family: monospace;
}

.varKind {
  font-style: italic;
  color: #7F0055;
}  

.box {
  border-width: 2px;
  border-style: solid;
  padding: 1px;
  margin: 1px;
}

.status {
  margin: 0px;
  margin-top: -3px;
  background-color: #efe;
  color: #000;
  padding: 4px 6px 4px;
  font-style: italic;
  border-bottom: 1px solid #787;
}

.helpline {
  margin: 0px;
  background-color: #fee;
  color: #000;
  padding: 4px 6px 4px;
  border-bottom: 1px solid #877;
}

.lineHandle {
  display: inline-block;
  width: 19px;
  height: 19px;
}

.lineHandle.marked {
  background-image: url(img/add-assert.png);
  background-color: transparent;
}

.popup {
  border: 0px solid #000;
/*  border-top-width: 1px;
  border-bottom-width: 1px;
  z-index: 999;
  */
  padding: 3px 0px;
  -webkit-transition: opacity 1400ms ease-in;
  -moz-transition: opacity 1400ms ease-in;
  transition: opacity 1400ms ease-in;
  margin-left: 19px;
}

