.indent {
  padding-left: 15px;  
}

#javasource {
  font-family: monospace
  font-size: 15px;
  float: left;    
}

#environment {
  float: right;
}

#srcselector {
  border: 3px solid #a0ffa0;
  background-color: #f0fff0;
  padding: 1px;
  width: 40em;
}

#srcselector h2 {
  background-color: #fff0f0;
  margin: -1px -1px 4px -1px;
  padding: 2px;
  font-family: sans-serif;
}
.keyword {
  color: #7F0055;
  font-weight: bold;  
}

.string_literal {
  color: #000080;
}

div.line {
  position: relative;
}


#stack {
  clear: both;
}

div.arrow {
  position: absolute;
  background-color: blue;
}

.current {
  background-color: red;  
}

div.box {
  border: solid;
  padding: 1px;
  margin: 1px;
}

#environment .scope {
  border: solid  
}